.div{
    display: flex;
}
.connect{
    background: #0000bb;
    color: #ffffff;
    padding: 0.5em;
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 8px;
}
.disabled {
    margin-left: 3%;
    padding: 0.5em;
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 8px;
}